# Cypress hasil testing
cypress/screenshots/
cypress/videos/

# Folder contoh Cypress
cypress/e2e/1-getting-started/
cypress/e2e/2-advanced-examples/

# Dependency Node
node_modules/

# File sistem Windows
Thumbs.db
.DS_Store

# File environment
.env

# Log
*.log